.App {
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputBox {
  width: 350px;
  padding: 10px;
  boder-radius: 5px;
  outline: none;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 40%;
  margin: -25px 0 0 -25px; 
  appearance: none;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #40444b;
}

.title{
  color: white; 
}

.button{
  top: 50%;
  left: 40%;
}

.link-main-page{
  position: absolute; 
  top: 55%; 
  left: 48%; 
  color:#61dafb;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  color:#ddd;
}